<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Грузоперевозки, международные грузоперевозки, авиаперевозки">
  <meta name="description" content="Весь спектр услуг по перевозке грузов">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="css/main.css">
</head>

<body class="body">

  {% block content %}
  {% endblock %}

  <!-- <script src="js/tiny.js"></script> -->
  <!-- <script src="js/slider.js"></script> -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap"
    rel="stylesheet">
</body>

</html>