@include media-down(sm) {
  .advantage {
    position: relative;
    margin-top: 9px;
    &__title {
      margin: 0;
      text-transform: uppercase;
      height: 230px;
      text-align: center;
      color: #374148;
      font-size: 18px;
      font-weight: 600;
      background-image: linear-gradient(180deg, #CFD4DB 43.05%, rgba(186, 193, 201, 0) 100%);
      padding-top: 47px;
      position: relative;
    }
    &__title::before,
    &__title::after {
      width: 6vw;
      height: 1px;
      background-color: #374148;
      position: absolute;
      content: "";
      top: 58px;
    }
    &__title::before {
      left: 0px;
    }
    &__title::after {
      right: 0px;
    }
    &__wrap-img {
      width: 100%;
      position: absolute;
      top: 90px;
      text-align: center;
      overflow: hidden;
    }
    &__img {
      width: 397px;
      position: relative;
      left: -45px;
    }
  }
  .advantage::before {
    width: 100%;
    height: 9px;
    background-image: linear-gradient(to right, #003C5F, #003C5F 33.33%, #0A6397 33.33%, #0A6397 66.66%, #008DD2 66.66%, #008DD2 100%);
    content: "";
    position: absolute;
    top: -9px;
  }
  .advantage-l {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
  
    &__item {
      margin-top: 20px;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__item svg {
      width: 53px;
      height: 53px;
    }
    &__text {
      text-align: center;
      font-size: 14px;
      line-height: 17px;
      color: #3C464E;
      padding: 10px;
    }
  }
}
@include media-only(sm) {
  .advantage {
    position: relative;
    margin-top: 8px;
    &__title {
      margin: 0;
      text-transform: uppercase;
      height: 339px;
      text-align: center;
      color: #374148;
      font-size: 18px;
      font-weight: 600;
      background-image: linear-gradient(180deg, #CFD4DB 43.05%, rgba(186, 193, 201, 0) 100%);
      padding-top: 38px;
      position: relative;
    }
    &__title::before,
    &__title::after {
      width: 14vw;
      height: 0.5px;
      background-color: #374148;
      position: absolute;
      content: "";
      top: 49px;
    }
    &__title::before {
      left: 20px;
    }
    &__title::after {
      right: 20px;
    }
    &__wrap-img {
      width: 100%;
      position: absolute;
      top: 80px;
      text-align: center;
      overflow: hidden;
    }
    &__img {
      width: 520px;
      position: relative;
      left: -28px;
    }
  }
  .advantage::before {
    width: 100%;
    height: 9px;
    background-image: linear-gradient(to right, #003C5F, #003C5F 103px, #0A6397 103px, #0A6397 206px, #008DD2 206px, #008DD2 309px, #CFD4DB 309px);
    content: "";
    position: absolute;
    top: -8px;
  }
  .advantage-l {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 25px;
  
    &__item {
      width: 31%;
      display: flex;
      flex-direction: column;
      align-items: center;
      
    }
    &__item svg {
      width: 53px;
      height: 53px;
    }
    &__text {
      text-align: center;
      font-size: 14px;
      line-height: 17px;
      color: #3C464E;
      padding: 10px;
    }
  }
}
@include media-only(md) {

}
@include media-only(lg) {

}
@include media-up(xl) {

}