@include media-down(sm) {
  .advantage {
    position: relative;
    margin-top: 9px;
    &__title {
      margin: 0;
      text-transform: uppercase;
      height: 230px;
      text-align: center;
      color: #374148;
      font-size: 18px;
      font-weight: 600;
      background-image: linear-gradient(180deg, #CFD4DB 43.05%, rgba(186, 193, 201, 0) 100%);
      padding-top: 47px;
      position: relative;
    }
    &__title::before,
    &__title::after {
      width: 6vw;
      height: 1px;
      background-color: #374148;
      position: absolute;
      content: "";
      top: 58px;
    }
    &__title::before {
      left: 0px;
    }
    &__title::after {
      right: 0px;
    }
    &__wrap-img {
      width: 100%;
      position: absolute;
      top: 90px;
      text-align: center;
      overflow: hidden;
    }
    &__img {
      width: 397px;
      position: relative;
      left: -45px;
    }
  }
  .advantage::before {
    width: 100%;
    height: 9px;
    background-image: linear-gradient(to right, #003C5F, #003C5F 33.33%, #0A6397 33.33%, #0A6397 66.66%, #008DD2 66.66%, #008DD2 100%);
    content: "";
    position: absolute;
    top: -9px;
  }
  .advantage-l {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
  
    &__item {
      margin-top: 20px;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__item svg {
      width: 53px;
      height: 53px;
    }
    &__text {
      text-align: center;
      font-size: 14px;
      line-height: 17px;
      color: #3C464E;
      padding: 10px;
    }
  }
}
@include media-only(sm) {
  .advantage {
    position: relative;
    margin-top: 8px;
    &__title {
      margin: 0;
      text-transform: uppercase;
      height: 339px;
      text-align: center;
      color: #374148;
      font-size: 18px;
      font-weight: 600;
      background-image: linear-gradient(180deg, #CFD4DB 43.05%, rgba(186, 193, 201, 0) 100%);
      padding-top: 38px;
      position: relative;
    }
    &__title::before,
    &__title::after {
      width: 14vw;
      height: 0.5px;
      background-color: #374148;
      position: absolute;
      content: "";
      top: 49px;
    }
    &__title::before {
      left: 20px;
    }
    &__title::after {
      right: 20px;
    }
    &__wrap-img {
      width: 100%;
      position: absolute;
      top: 80px;
      text-align: center;
      overflow: hidden;
    }
    &__img {
      width: 520px;
      position: relative;
      left: -28px;
    }
  }
  .advantage::before {
    width: 100%;
    height: 9px;
    background-image: linear-gradient(to right, #003C5F, #003C5F 103px, #0A6397 103px, #0A6397 206px, #008DD2 206px, #008DD2 309px, #CFD4DB 309px);
    content: "";
    position: absolute;
    top: -8px;
  }
  .advantage-l {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 25px;
  
    &__item {
      width: 31%;
      display: flex;
      flex-direction: column;
      align-items: center;
      
    }
    &__item svg {
      width: 53px;
      height: 53px;
    }
    &__text {
      text-align: center;
      font-size: 14px;
      line-height: 17px;
      color: #3C464E;
      padding: 10px;
    }
  }
}
@include media-only(md) {
  .advantage {
    position: relative;
    
    &__title {
      margin: 0;
      text-transform: uppercase;
      height: 387px;
      text-align: center;
      color: #374148;
      font-size: 24px;
      font-weight: 600;
      background-image: linear-gradient(180deg, #CFD4DB 43.05%, rgba(186, 193, 201, 0) 100%);
      padding-top: 75px;
      position: relative;
    }
    &__title::before,
    &__title::after {
      width: 20vw;
      height: 0.6px;
      background-color: #374148;
      position: absolute;
      content: "";
      top: 90px;
    }
    &__title::before {
      left: 20px;
    }
    &__title::after {
      right: 20px;
    }
    &__wrap-img {
      width: 92%;
      position: absolute;
      top: 130px;
      left: 0;
      text-align: center;
      overflow: hidden;
    }
    &__img {
      width: 620px;
      position: relative;
    }
  }
  .advantage::before {
    width: 100%;
    height: 12px;
    background-image: linear-gradient(to right, #003C5F, #003C5F 143px, #0A6397 143px, #0A6397 286px, #008DD2 286px, #008DD2 429px, #CFD4DB 429px);
    content: "";
    position: absolute;
    top: -4px;
    z-index: 2;
  }
  .advantage-l {
    margin-top: 55px;
    padding: 0 5px 0 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
    column-gap: 35px;
    &__item {
      width: 43%;
      display: flex; 
      align-items: center;
    }
    &__item svg {
      width: 41px;
      height: 41px;
    }
    &__text {
      max-width: 85%;
      font-size: 14px;
      line-height: 17px;
      color: #3C464E;
      padding-left: 34px;
    }
  }
}
@include media-only(lg) {
  .advantage {
    position: relative;
    
    &__title {
      margin: 0;
      text-transform: uppercase;
      height: 529px;
      text-align: center;
      color: #374148;
      font-size: 24px;
      font-weight: 600;
      background-image: linear-gradient(180deg, #CFD4DB 43.05%, rgba(186, 193, 201, 0) 100%);
      padding-top: 75px;
      position: relative;
    }
    &__title::before,
    &__title::after {
      width: 21vw;
      height: 0.6px;
      background-color: #374148;
      position: absolute;
      content: "";
      top: 90px;
    }
    &__title::before {
      left: 69px;
    }
    &__title::after {
      right: 69px;
    }
    &__wrap-img {
      width: 70%;
      position: absolute;
      top: 155px;
      left: -87px;
      text-align: center;
      overflow: hidden;
    }
    &__img {
      width: 739px;
      position: relative;
    }
  }
  .advantage::before {
    width: 100%;
    height: 15px;
    background-image: linear-gradient(to right, #003C5F, #003C5F 186px, #0A6397 186px, #0A6397 372px, #008DD2 372px, #008DD2 558px, #CFD4DB 558px);
    content: "";
    position: absolute;
    top: -4px;
    z-index: 2;
  }
  .advantage-l {
    position: absolute;
    z-index: 2;
    top: 155px;
    right: 60px;
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    &__item {
      display: flex; 
      align-items: center;
    }
    &__item svg {
      width: 41px;
      height: 41px;
    }
    &__text {
      max-width: 85%;
      font-size: 14px;
      line-height: 17px;
      color: #3C464E;
      padding-left: 34px;
    }
  }
}
@include media-up(xl) {
  .advantage {
    position: relative;
    
    &__title {
      margin: 0;
      text-transform: uppercase;
      height: 955px;
      text-align: center;
      color: #374148;
      font-size: 36px;
      font-weight: 600;
      background-image: linear-gradient(180deg, #CFD4DB 43.05%, rgba(186, 193, 201, 0) 100%);
      padding-top: 114px;
      position: relative;
    }
    &__title::before,
    &__title::after {
      width: 292px;
      height: 1px;
      background-color: #374148;
      position: absolute;
      content: "";
      top: 137px;
    }
    &__title::before {
      right: 69vw;
    }
    &__title::after {
      left: 69vw;
    }
    &__wrap-img {
      width: 72%;
      position: absolute;
      top: 280px;
      text-align: center;
      overflow: hidden;
    }
    &__img {
      width: 1008px;
      position: relative;
    }
  }
  .advantage::before {
    width: 100%;
    height: 25px;
    background-image: linear-gradient(to right, #003C5F, #003C5F 247px, #0A6397 247px, #0A6397 494px, #008DD2 494px, #008DD2 741px, #CFD4DB 741px);
    content: "";
    position: absolute;
    top: -4px;
    z-index: 2;
  }
  .advantage-l {
    position: absolute;
    z-index: 2;
    top: 270px;
    right: 18.5%;
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 26px;
    &__item {
      display: flex; 
      align-items: center;
    }
    &__text {
      max-width: 85%;
      font-size: 18px;
      line-height: 22px;
      color: #3C464E;
      padding-left: 47px;
    }
  }
}