{% set title = 'Transys' %}
{% extends "templates/default.html" %}
{% import "includes/macros.html" as variable %}

{% set social = [
{href: "#", svgname: "whatsapp"},
{href: "#", svgname: "telegramm"},
{href: "#", svgname: "instagramm"}
]%}

{% set gPreview = [
{name: "guarantee-prew-1", alt: "Грузовые перевозки 1"},
{name: "guarantee-prew-2", alt: "Грузовые перевозки 2"},
{name: "guarantee-prew-3", alt: "Грузовые перевозки 3"},
{name: "guarantee-prew-4", alt: "Грузовые перевозки 4"},
{name: "guarantee-prew-5", alt: "Грузовые перевозки 5"},
{name: "guarantee-prew-6", alt: "Грузовые перевозки 6"},
{name: "guarantee-prew-7", alt: "Грузовые перевозки 7"},
{name: "guarantee-prew-8", alt: "Грузовые перевозки 8"},
{name: "guarantee-prew-9", alt: "Грузовые перевозки 9"},
{name: "guarantee-prew-10", alt: "Грузовые перевозки 10"}
]%}

{% macro imageSvg(name, class, width, height) %}
<svg class="{{ class }}" width="{{ width }}" height="{{ height }}">
  <use xlink:href='img/svg/sprite.svg#{{ name }}'></use>
</svg>
{% endmacro %}
{% macro imageSvgColor(name, class, width, height) %}
<svg class="{{ class }}" width="{{ width }}" height="{{ height }}">
  <use xlink:href='img/svgcolor/sprite.svg#{{ name }}'></use>
</svg>
{% endmacro %}
{% macro imageJpeg(classPicture, name, classImg, alt) %}
<picture class="{{ classPicture }}">
  <source srcset="img/{{ name }}.webp 1x, img/{{ name }}@2x.webp 2x" type="image/webp">
  <img src="img/{{ name }}.jpg" alt="{{ alt }}" class="{{ classImg }}">
</picture>
{% endmacro %}
{% macro imagePng(classPicture, name, classImg, alt) %}
<picture class="{{ classPicture }}">
  <source srcset="img/{{ name }}.webp" type="image/webp">
  <img src="img/{{ name }}.png" alt="{{ alt }}" class="{{ classImg }}">
</picture>
{% endmacro %}

{% block content %}
<header class="header">
  <div class="header__head header-h">
    <button type="button" class="header-h__btn">
      {{ imageSvg('menu-close', 'svg', '24px', '24px') }}
    </button>
    <div class="header-h__logo">
      {{ imageSvgColor('logo-white', 'svgcolor', '215px', '24px') }}
    </div>
    <ul class="header-h__language language">
      <li class="language__item">
        <a href="#" class="language__link language__link--current">Rus</a>
      </li>
      <li class="language__item">
        <a href="#" class="language__link">Pl</a>
      </li>
      <li class="language__item">
        <a href="#" class="language__link">De</a>
      </li>
      <li class="language__item">
        <a href="#" class="language__link">Eng</a>
      </li>
    </ul>
    <div class="header-h__menu menu">
      <nav class="menu__nav nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="#" class="nav__link nav__link--activ">Виды перевозок</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Качество работы</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Команда</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Партнёры</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Контакты</a>
          </li>
        </ul>
      </nav>
      <ul class="menu__info info-m">
        <li class="info-m__item">
          <div class="info-m__icon">
            {{ imageSvg('icon-phone', 'svg', '16px', '16px') }}
          </div>
          <div class="info-m__block">
            <a href="#" class="info-m__link">+375 (33) 377 55 09</a>
            <a href="#" class="info-m__link">+7 (499) 110 14 12</a>
            <a href="#" class="info-m__link">+7 (911) 830 32 99</a>
          </div>
        </li>
        <li class="info-m__item">
          <div class="info-m__icon">
            {{ imageSvg('location-point', 'svg', '16px', '16px') }}
          </div>
          <div class="info-m__block">
            <span class="info-m__text">Советская 68,<br>Беларусь, г. Брест.</span>
          </div>
        </li>
        <li class="info-m__item">
          <div class="info-m__icon">
            {{ imageSvg('time-work', 'svg', '15px', '15px') }}
          </div>
          <div class="info-m__block">
            <span class="info-m__text">09:00 - 18:00<br>понедельник - пятница</span>
          </div>
        </li>
      </ul>
    </div>
    <ul class="header-h__info info-h">
      <li class="info-h__item info-h__item--location">
        <div class="info-h__icon">
          {{ imageSvg('location-point', 'svg', '16px', '16px') }}
        </div>
        <div class="info-h__block">
          <span class="info-h__text">г. Брест, Беларусь<br>ул. Советская, 68</span>
        </div>
      </li>
      <li class="info-h__item info-h__item--time">
        <div class="info-h__icon">
          {{ imageSvg('time-work', 'svg', '15px', '15px') }}
        </div>
        <div class="info-h__block">
          <span class="info-h__text">9:00 - 18:00<br>пн - пт</span>
        </div>
      </li>
      <li class="info-h__item info-h__item--phone">
        <div class="info-h__block">
          <a href="#" class="info-h__link">
            {{ imageSvg('icon-phone', 'svg info-h__icon--phone', '16px', '16px') }}
            <span class="info-h__link--text">Обратная связь</span>
          </a>
        </div>
      </li>
    </ul>
  </div>
  <div class="header__body header-b">
    <div class="header-b__cover">
      {{ imageJpeg('header-b__picture', 'header-foto', 'header-b__img', 'Грузоперевозка') }}
    </div>
    <div class="header-b__content">
      <h1 class="header-b__title">Международные<br>грузоперевозки</h1>
      <p class="header-b__description header-b__description--one">Подача транспорта под загрузку в день обращения c
        финансовой гарантией
        исполнения
        обязательств</p>
      <p class="header-b__description header-b__description--two">Согласуем ставку исходя из Ваших условий c отсрочкой
        платежа до <b>60</b> дней.
      </p>
      <p class="header-b__description header-b__description--three">Подберем от <b>2-х</b> вариантов транспорта за <b>30
          минут</b>!</p>
      <a href="#" class="header-b__link">Подобрать транспорт</a>
    </div>
    <div class="header-b__social">
      <a href="#" class="header-b__s-link">
        {{ imageSvg('viber', 'svg', '31px', '33px') }}
      </a>
      <a href="#" class="header-b__s-link">
        {{ imageSvg('whatsapp', 'svg', '29px', '29px') }}
      </a>
      <a href="#" class="header-b__s-link">
        {{ imageSvg('instagram', 'svg', '29px', '29px') }}
      </a>
    </div>
    <a href="#" class="header-b__next-link"></a>
  </div>
</header>
<main class="main">
  <section class="advantage">
    <div class="conteiner">
      <h2 class="advantage__title">Наши преимущества</h2>
      <div class="advantage__wrap-img">
        {{ imagePng('advantage__picture', 'track', 'advantage__img', 'Грузовой автомобиль') }}
      </div>
      <ul class="advantage__list advantage-l">
        <li class="advantage-l__item">
          {{ imageSvgColor('insurance', 'svgcolor', '56px', '56px') }}
          <span class="advantage-l__text">Полное CMR страхование</span>
        </li>
        <li class="advantage-l__item">
          {{ imageSvgColor('check', 'svgcolor', '56px', '56px') }}
          <span class="advantage-l__text">Проверяем каждого нового перевозчика</span>
        </li>
        <li class="advantage-l__item">
          {{ imageSvgColor('guarantee', 'svgcolor', '56px', '56px') }}
          <span class="advantage-l__text">Финансовая гарантия обязательств по договору</span>
        </li>
        <li class="advantage-l__item">
          {{ imageSvgColor('feedback', 'svgcolor', '56px', '56px') }}
          <span class="advantage-l__text">Обратная связь на каждом этапе</span>
        </li>
        <li class="advantage-l__item">
          {{ imageSvgColor('experience', 'svgcolor', '56px', '56px') }}
          <span class="advantage-l__text">Опыт работы более 8 лет</span>
        </li>
        <li class="advantage-l__item">
          {{ imageSvgColor('vehicle', 'svgcolor', '56px', '56px') }}
          <span class="advantage-l__text">Собственный автопарк</span>
        </li>
      </ul>
    </div>
  </section>
  <section class="types">
    <div class="conteiner">
      <h2 class="types__title"><span>Виды </span><span>осуществляемых </span><span>перевозок</span></h2>
      <ul class="types__list">
        <li class="types__item types__item--ref">
          <div class="types__block">
            <img src="img/track1.svg" alt="Грузовик" class="types__svg types__svg--ref">
            <span class="types__name types__name--ref">Рефрижераторные</span>
          </div>
        </li>
        <li class="types__item types__item--cont">
          <div class="types__block">
            <img src="img/track2.svg" alt="Грузовик" class="types__svg types__svg--cont">
            <span class="types__name types__name--cont">Контейнерные</span>
          </div>
        </li>
        <li class="types__item types__item--tent">
          <div class="types__block">
            <img src="img/track3.svg" alt="Грузовик" class="types__svg types__svg--tent">
            <span class="types__name types__name--tent">Тентовые</span>
          </div>
        </li>
        <li class="types__item types__item--dif">
          <div class="types__block">
            <img src="img/track4.svg" alt="Грузовик" class="types__svg types__svg--dif">
            <span class="types__name types__name--dif">Сборные грузы</span>
          </div>
        </li>
        <li class="types__item types__item--big">
          <div class="types__block">
            <img src="img/track5.svg" alt="Грузовик" class="types__svg types__svg--big">
            <span class="types__name types__name--big">Негабаритные</span>
          </div>
        </li>
        <li class="types__item types__item--zd">
          <div class="types__block">
            <img src="img/track6.svg" alt="Грузовик" class="types__svg types__svg--zd">
            <span class="types__name types__name--zd">Железнодорожные</span>
          </div>
        </li>
        <li class="types__item types__item--avia">
          <div class="types__block">
            <img src="img/track7air.svg" alt="Грузовик" class="types__svg types__svg--avia">
            <span class="types__name types__name--avia">Авиаперевозки</span>
          </div>
        </li>
        <li class="types__item types__item--multi">
          <div class="types__block">
            <img src="img/track8combo.svg" alt="Грузовик" class="types__svg types__svg--multi down-sm">
            <img src="img/track8combo-sm.svg" alt="Грузовик" class="types__svg types__svg--multi up-sm">
            <span class="types__name types__name--multi">Мультимодальные</span>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section class="quality">
    <div class="conteiner">
      <div class="quality__head q-head">
        <div class="q-head__photo">
          {{ imagePng('q-head__picture', 'director', 'q-head__img', 'Фотография Крат Григория Михайловича') }}
        </div>
        <h2 class="q-head__title">
          <span>Мы</span>
          <span>за долгосрочные</span>
          <span>деловые отношения!</span>
        </h2>
        <div class="q-head__author">
          <span>Крат</span>
          <span>Григорий Михайлович</span>
        </div>
        <div class="q-head__contact">
          <span>Директор ООО "Трансис"</span>
          <span>+375 29 208 91 91</span>
        </div>
      </div>
      <ul class="quality__list q-list">
        <li class="q-list__item">
          <h3 class="q-list__title"><span>Экономия </span><span>и деловой подход</span></h3>
          <p class="q-list__description">1-ю перевозку выполняем по себестоимости..</p>
          <p class="q-list__description"><span>Вы оцениваете качество нашей работы. </span><span>Вносите правки, если
              это необходимо.</span></p>
        </li>
        <li class="q-list__item">
          <h3 class="q-list__title">Компетентность</h3>
          <p class="q-list__description">Исключаем увеличение ставки и непредвиденные расходы в процессе перевозки за
            счет детальной проработки маршрута. </p>
        </li>
        <li class="q-list__item">
          <h3 class="q-list__title">Ответственность</h3>
          <p class="q-list__description">Несогласованные расходы на этапе заключения договора ложатся на нас.</p>
        </li>
        <li class="q-list__item">
          <h3 class="q-list__title">Надежность</h3>
          <p class="q-list__description">Согласовываем ставку исходя из Ваших условий, фиксируем стоимость в
            договоре.</p>
        </li>
        <li class="q-list__item">
          <h3 class="q-list__title">Лояльность</h3>
          <p class="q-list__description">В случае нарушения договоренностей (опоздания, простои, срывы и т.д.)
            обсуждаем штрафные санкции и меняем условия договора в пользу заказчика на любом этапе перевозки.
          </p>
        </li>
      </ul>
      <div class="quality__btn q-btn">
        <a href="#" class="q-btn__link">Оцените качество наших услуг</a>
      </div>
      <div class="quality__svg q-svg">
        {{ imageSvg('cloud-airplane', 'svg q-svg__item q-svg__cloud-airplane', '335px', '100px') }}
        {{ imageSvg('cloud-center-big', 'svg q-svg__item q-svg__cloud-center-big-1', '212px', '41px') }}
        {{ imageSvg('cloud-center-big', 'svg q-svg__item q-svg__cloud-center-big-2', '212px', '41px') }}
        {{ imageSvg('cloud-center-big', 'svg q-svg__item q-svg__cloud-center-big-3', '212px', '41px') }}
        {{ imageSvg('cloud-center', 'svg q-svg__item q-svg__cloud-center-4', '212px', '41px') }}
        {{ imageSvg('cloud-center', 'svg q-svg__item q-svg__cloud-center-5', '212px', '41px') }}
        {{ imageSvg('cloud-center', 'svg q-svg__item q-svg__cloud-center-6', '212px', '41px') }}
        {{ imageSvg('cloud-left', 'svg q-svg__item q-svg__cloud-left-1', '300px', '35px') }}
        {{ imageSvg('cloud-left', 'svg q-svg__item q-svg__cloud-left-2', '300px', '35px') }}
        {{ imageSvg('cloud-left', 'svg q-svg__item q-svg__cloud-left-3', '300px', '35px') }}
        {{ imageSvg('cloud-left', 'svg q-svg__item q-svg__cloud-left-4', '300px', '35px') }}
        {{ imageSvg('cloud-wing', 'svg q-svg__item q-svg__cloud-wing', '97px', '20px') }}
        {{ imageSvg('cloud-wing', 'svg q-svg__item q-svg__cloud-wing-2', '97px', '20px') }}
        {{ imageSvgColor('cloud-ship', 'svgcolor q-svg__item q-svg__cloud-ship', '752px', '312px') }}
        {{ imageSvgColor('cloud-ship-lg', 'svgcolor q-svg__item q-svg__cloud-ship-lg', '544px', '171px') }}
      </div>
    </div>
  </section>
  <section class="guarantee">
    <ul class="guarantee__preview g-preview">

      {% for item in gPreview %}
      <li class="g-preview__item">
        <picture class="g-preview__picture">
          <source srcset="img/{{ item.name }}.webp" type="image/webp">
          <img src="img/{{ item.name }}.jpg" alt="{{ item.alt }}" class="g-preview__img">
        </picture>
      </li>
      {% endfor %}

    </ul>
    <div class="conteiner">
      <h2 class="guarantee__title">Мы гарантируем</h2>
      <ul class="guarantee__list">
        <li class="guarantee__item">
          <div class="g-control">
            <button class="g-control__btn g-control__btn--active"></button>
            <span class="g-control__title">Скорость</span>
            {{ imageSvgColor('speed', 'svgcolor g-control__svg', '53px', '53px') }}
          </div>
          <div class="g-slide">
            <div class="g-slide__slide">
              <ul class="g-slide__list">
                <li class="g-slide__item">Подача транспорта <span>в день обращения</span></li>
                <li class="g-slide__item">Собственный <span>автопарк</span></li>
                <li class="g-slide__item">Экапиж <span>2 водителя</span></li>
              </ul>
              <picture class="g-slide__picture">
                <source srcset="img/guarantee-slide-1.webp" type="image/webp">
                <img src="img/guarantee-slide-1.jpg" alt="Перевозка груза" class="g-slide__img">
              </picture>
            </div>
          </div>
        </li>
        <li class="guarantee__item">
          <div class="g-control">
            <button class="g-control__btn"></button>
            <span class="g-control__title">Комфорт</span>
            {{ imageSvgColor('comfort', 'svgcolor g-control__svg', '53px', '53px') }}
          </div>
        </li>
        <li class="guarantee__item">
          <div class="g-control">
            <button class="g-control__btn"></button>
            <span class="g-control__title">Надежность</span>
            {{ imageSvgColor('reliability', 'svgcolor g-control__svg', '53px', '53px') }}
          </div>
        </li>
        <li class="guarantee__item">
          <div class="g-control">
            <button class="g-control__btn"></button>
            <span class="g-control__title">Безопасность</span>
            {{ imageSvgColor('safety', 'svgcolor g-control__svg', '53px', '53px') }}
          </div>
        </li>
        <li class="guarantee__item">
          <div class="g-control">
            <button class="g-control__btn"></button>
            <span class="g-control__title">Экономия</span>
            {{ imageSvgColor('economy', 'svgcolor g-control__svg', '53px', '53px') }}
          </div>
        </li>
      </ul>
    </div>
  </section>
</main>
<footer></footer>
{% endblock %}