{% set title = 'Transys' %}
{% extends "templates/default.html" %}
{% import "includes/macros.html" as variable %}

{% set social = [
{href: "#", svgname: "whatsapp"},
{href: "#", svgname: "telegramm"},
{href: "#", svgname: "instagramm"}
]%}

{% macro imageSvg(name, class, width, height) %}
<svg class="{{ class }}" width="{{ width }}" height="{{ height }}">
  <use xlink:href='img/svg/sprite.svg#{{ name }}'></use>
</svg>
{% endmacro %}
{% macro imageSvgColor(name, class, width, height) %}
<svg class="{{ class }}" width="{{ width }}" height="{{ height }}">
  <use xlink:href='img/svgcolor/sprite.svg#{{ name }}'></use>
</svg>
{% endmacro %}
{% macro imageJpeg(classPicture, name, classImg, alt) %}
<picture class="{{ classPicture }}">
  <source srcset="img/{{ name }}.webp 1x, img/{{ name }}@2x.webp 2x" type="image/webp">
  <img src="img/{{ name }}.jpg" alt="{{ alt }}" class="{{ classImg }}">
</picture>
{% endmacro %}
{% macro imagePng(classPicture, name, classImg, alt) %}
<picture class="{{ classPicture }}">
  <source srcset="img/{{ name }}.webp" type="image/webp">
  <img src="img/{{ name }}.png" alt="{{ alt }}" class="{{ classImg }}">
</picture>
{% endmacro %}

{% block content %}
<header class="header">
  <div class="header__head header-h">
    <button type="button" class="header-h__btn">
      {{ imageSvg('menu-close', 'svg', '24px', '24px') }}
    </button>
    <div class="header-h__logo">
      {{ imageSvgColor('logo-white', 'svgcolor', '215px', '24px') }}
    </div>
    <ul class="header-h__language language">
      <li class="language__item">
        <a href="#" class="language__link language__link--current">Rus</a>
      </li>
      <li class="language__item">
        <a href="#" class="language__link">Pl</a>
      </li>
      <li class="language__item">
        <a href="#" class="language__link">De</a>
      </li>
      <li class="language__item">
        <a href="#" class="language__link">Eng</a>
      </li>
    </ul>
    <div class="header-h__menu menu">
      <nav class="menu__nav nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="#" class="nav__link nav__link--activ">Виды перевозок</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Качество работы</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Команда</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Партнёры</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Контакты</a>
          </li>
        </ul>
      </nav>
      <ul class="menu__info info-m">
        <li class="info-m__item">
          <div class="info-m__icon">
            {{ imageSvg('icon-phone', 'svg', '16px', '16px') }}
          </div>
          <div class="info-m__block">
            <a href="#" class="info-m__link">+375 (33) 377 55 09</a>
            <a href="#" class="info-m__link">+7 (499) 110 14 12</a>
            <a href="#" class="info-m__link">+7 (911) 830 32 99</a>
          </div>
        </li>
        <li class="info-m__item">
          <div class="info-m__icon">
            {{ imageSvg('location-point', 'svg', '16px', '16px') }}
          </div>
          <div class="info-m__block">
            <span class="info-m__text">Советская 68,<br>Беларусь, г. Брест.</span>
          </div>
        </li>
        <li class="info-m__item">
          <div class="info-m__icon">
            {{ imageSvg('time-work', 'svg', '15px', '15px') }}
          </div>
          <div class="info-m__block">
            <span class="info-m__text">09:00 - 18:00<br>понедельник - пятница</span>
          </div>
        </li>
      </ul>
    </div>
    <ul class="header-h__info info-h">
      <li class="info-h__item info-h__item--location">
        <div class="info-h__icon">
          {{ imageSvg('location-point', 'svg', '16px', '16px') }}
        </div>
        <div class="info-h__block">
          <span class="info-h__text">г. Брест, Беларусь<br>ул. Советская, 68</span>
        </div>
      </li>
      <li class="info-h__item info-h__item--time">
        <div class="info-h__icon">
          {{ imageSvg('time-work', 'svg', '15px', '15px') }}
        </div>
        <div class="info-h__block">
          <span class="info-h__text">9:00 - 18:00<br>пн - пт</span>
        </div>
      </li>
      <li class="info-h__item info-h__item--phone">
        <div class="info-h__block">
          <a href="#" class="info-h__link">
            {{ imageSvg('icon-phone', 'svg info-h__icon--phone', '16px', '16px') }}
            <span class="info-h__link--text">Обратная связь</span>
          </a>
        </div>
      </li>
    </ul>
  </div>
  <div class="header__body header-b">
    <div class="header-b__cover">
      {{ imageJpeg('header-b__picture', 'header-foto', 'header-b__img', 'Грузоперевозка') }}
    </div>
    <div class="header-b__content">
      <h1 class="header-b__title">Международные<br>грузоперевозки</h1>
      <p class="header-b__description header-b__description--one">Подача транспорта под загрузку в день обращения c
        финансовой гарантией
        исполнения
        обязательств</p>
      <p class="header-b__description header-b__description--two">Согласуем ставку исходя из Ваших условий c отсрочкой
        платежа до <b>60</b> дней.
      </p>
      <p class="header-b__description header-b__description--three">Подберем от <b>2-х</b> вариантов транспорта за <b>30
          минут</b>!</p>
      <a href="#" class="header-b__link">Подобрать транспорт</a>
    </div>
    <div class="header-b__social">
      <a href="#" class="header-b__s-link">
        {{ imageSvg('viber', 'svg', '31px', '33px') }}
      </a>
      <a href="#" class="header-b__s-link">
        {{ imageSvg('whatsapp', 'svg', '29px', '29px') }}
      </a>
      <a href="#" class="header-b__s-link">
        {{ imageSvg('instagram', 'svg', '29px', '29px') }}
      </a>
    </div>
    <a href="#" class="header-b__next-link"></a>
  </div>
</header>
<main>
  <section class="advantage">
    <div class="conteiner">
      <h2 class="advantage__title">Наши преимущества</h2>
      <div class="advantage__wrap-img">
        {{ imagePng('advantage__picture', 'track', 'advantage__img', 'Грузовой автомобиль') }}
      </div>
      <ul class="advantage__list advantage-l">
        <li class="advantage-l__item">
          {{ imageSvgColor('insurance', 'svgcolor', '56px', '56px') }}
          <span class="advantage-l__text">Полное CMR страхование</span>
        </li>
        <li class="advantage-l__item">
          {{ imageSvgColor('check', 'svgcolor', '56px', '56px') }}
          <span class="advantage-l__text">Проверяем каждого нового перевозчика</span>
        </li>
        <li class="advantage-l__item">
          {{ imageSvgColor('guarantee', 'svgcolor', '56px', '56px') }}
          <span class="advantage-l__text">Финансовая гарантия обязательств по договору</span>
        </li>
        <li class="advantage-l__item">
          {{ imageSvgColor('feedback', 'svgcolor', '56px', '56px') }}
          <span class="advantage-l__text">Обратная связь на каждом этапе</span>
        </li>
        <li class="advantage-l__item">
          {{ imageSvgColor('experience', 'svgcolor', '56px', '56px') }}
          <span class="advantage-l__text">Опыт работы более 8 лет</span>
        </li>
        <li class="advantage-l__item">
          {{ imageSvgColor('vehicle', 'svgcolor', '56px', '56px') }}
          <span class="advantage-l__text">Собственный автопарк</span>
        </li>
      </ul>
    </div>
  </section>
  <section class="types">
    <div class="conteiner">
      <h2 class="types__title"><span>Виды </span><span>осуществляемых </span><span>перевозок</span></h2>
      <ul class="types__list">
        <li class="types__item types__item--ref">
          <div class="types__block">
            <img src="img/track1.svg" alt="Грузовик" class="types__svg types__svg--ref">
            <span class="types__name types__name--ref">Рефрижераторные</span>
          </div>
        </li>
        <li class="types__item types__item--cont">
          <div class="types__block">
            <img src="img/track2.svg" alt="Грузовик" class="types__svg types__svg--cont">
            <span class="types__name types__name--cont">Контейнерные</span>
          </div>
        </li>
        <li class="types__item types__item--tent">
          <div class="types__block">
            <img src="img/track3.svg" alt="Грузовик" class="types__svg types__svg--tent">
            <span class="types__name types__name--tent">Тентовые</span>
          </div>
        </li>
        <li class="types__item types__item--dif">
          <div class="types__block">
            <img src="img/track4.svg" alt="Грузовик" class="types__svg types__svg--dif">
            <span class="types__name types__name--dif">Сборные грузы</span>
          </div>
        </li>
        <li class="types__item types__item--big">
          <div class="types__block">
            <img src="img/track5.svg" alt="Грузовик" class="types__svg types__svg--big">
            <span class="types__name types__name--big">Негабаритные</span>
          </div>
        </li>
        <li class="types__item types__item--zd">
          <div class="types__block">
            <img src="img/track6.svg" alt="Грузовик" class="types__svg types__svg--zd">
            <span class="types__name types__name--zd">Железнодорожные</span>
          </div>
        </li>
        <li class="types__item types__item--avia">
          <div class="types__block">
            <img src="img/track7air.svg" alt="Грузовик" class="types__svg types__svg--avia">
            <span class="types__name types__name--avia">Авиаперевозки</span>
          </div>
        </li>
        <li class="types__item types__item--multi">
          <div class="types__block">
            <img src="img/track8combo.svg" alt="Грузовик" class="types__svg types__svg--multi down-sm">
            <img src="img/track8combo-sm.svg" alt="Грузовик" class="types__svg types__svg--multi up-sm">
            <span class="types__name types__name--multi">Мультимодальные</span>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section class="quality">
    <div class="conteiner">
      <div class="quality__head quality-h">
        <div class="quality-h__photo">
          {{ imagePng('quality-h__picture', 'director', 'quality-h__img', 'Фотография Крат Григория Михайловича') }}
        </div>
        <h2 class="quality-h__title">
          <span>Мы</span>
          <span>за долгосрочные</span>
          <span>деловые отношения!</span>
        </h2>
        <div class="quality-h__author">
          <span>Крат</span>
          <span>Григорий Михайлович</span>
        </div>
        <div class="quality-h__contact">
          <span>Директор ООО "Трансис"</span>
          <span>+375 29 208 91 91</span>
        </div>
      </div>
      <ol class="quality__list quality-l">
        <li class="quality-l__item">
          <h3 class="quality-l__title">Экономия и деловой подход</h3>
          <p class="quality-l__description">1-ю перевозку выполняем по себестоимости..</p>
          <p class="quality-l__description">Вы оцениваете качество нашей работы.
            Вносите правки, если это необходимо.</p>
        </li>
        <li class="quality-l__item">
          <h3 class="quality-l__title">Компетентность</h3>
          <p class="quality-l__description">Исключаем увеличение ставки и непредвиденные расходы в процессе перевозки за
            счет детальной проработки маршрута. </p>
        </li>
        <li class="quality-l__item">
          <h3 class="quality-l__title">Ответственность</h3>
          <p class="quality-l__description">Несогласованные расходы на этапе заключения договора ложатся на нас.</p>
        </li>
        <li class="quality-l__item">
          <h3 class="quality-l__title">Надежность</h3>
          <p class="quality-l__description">Согласовываем ставку исходя из Ваших условий, фиксируем стоимость в
            договоре.</p>
        </li>
        <li class="quality-l__item">
          <h3 class="quality-l__title">Лояльность</h3>
          <p class="quality-l__description">В случае нарушения договоренностей (опоздания, простои, срывы и т.д.)
            обсуждаем штрафные санкции и меняем условия договора в пользу заказчика на любом этапе перевозки.
          </p>
        </li>
      </ol>
      <div class="quality__btn quality-b">
        <a href="#" class="quality-b__link">Оцените качество наших услуг</a>
      </div>
    </div>
  </section>
</main>
<footer></footer>
{% endblock %}